.txtColor {
  color: #56C4C5;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 1366px;
  line-height: 1.2;
  font-weight: bold;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg");
  background-repeat: no-repeat;
  background-position: right top;
  z-index: 0;
}

.index {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.index navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 100px;
}
.index navbar img {
  height: 40px;
}
.index navbar button {
  color: white;
  border: 1px solid #FF5D50;
  background-color: #FF5D50;
  border-radius: 22px;
  padding: 8px 30px;
}
.index .firstPage {
  padding: 30px 0 117px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.index .firstPage .firstPageCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.index .firstPage img {
  width: 532px;
  height: 534px;
}
.index .topBtn {
  position: fixed;
  right: 148px;
  bottom: 23px;
}
.index .topBtn:hover {
  cursor: pointer;
}
.index .topBtn img {
  height: 71px;
  width: 71px;
  border-radius: 50%;
}
.index .topBtn p {
  color: white;
  position: absolute;
  line-height: 71px;
  top: 0;
  left: 20px;
}

.sns {
  margin-top: 100px;
  text-align: center;
}
.sns .snsContents {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sns .snsContent {
  width: 244px;
}
.sns .snsContent img {
  width: 90px;
  height: 90px;
}
.sns .snsContent h3 {
  margin: 24px 0;
}
.sns .snsContent p {
  color: #747474;
}

.role {
  margin-top: 100px;
  text-align: center;
}
.role .roles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.role .roleContent {
  width: 260px;
  border: 1px solid rgba(0, 0, 0, 0.0784313725);
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  margin-right: 16px;
}
.role h4 {
  margin: 16px 0 48px 0;
}
.role p:nth-of-type(1) {
  padding: 16px 0;
  color: #56C4C5;
}
.role p:nth-of-type(2) {
  padding: 0 16px 24px 16px;
}

.imfo {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
}
.imfo .imfo_function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 700px;
}
.imfo .functionCont {
  width: 166px;
  padding: 32px 32px 48px 32px;
  border: 1px solid rgba(0, 0, 0, 0.0784313725);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 20px;
  margin: 0 47px 28px 0;
}
.imfo .functionCont .circle {
  width: 86px;
  height: 86px;
  z-index: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.0784313725);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  position: relative;
}
.imfo .functionCont img {
  position: absolute;
  z-index: 999;
  left: 20px;
  top: 19px;
}
.imfo .functionCont h5 {
  margin: 24px 0 16px;
}
.imfo .imfoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.imfo .imfoText h5 {
  margin: 16px 0 24px 0;
}
.imfo .imfoText button {
  padding: 12px 32px;
  border-radius: 27px;
  font-size: 18px;
  background-color: #56C4C5;
  color: white;
  border: 1px solid #56C4C5;
}

.comment {
  margin-top: 100px;
  line-height: 1.5;
}
.comment h2 {
  text-align: center;
  margin-bottom: 104px;
}
.comment .allComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.comment .commentCont {
  width: 288px;
  padding: 48px 32px 24px 32px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  position: relative;
  margin: 0 16px;
}
.comment .commentCont img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
}
.comment .commentCont hr {
  margin: 24px 0;
}

.bottomImg {
  margin-top: 100px;
  height: 503px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottomImg h2 {
  margin: 260px 0 48px 0;
}
.bottomImg a {
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 27px;
  font-size: 18px;
  background-color: #56C4C5;
  color: white;
  border: 1px solid #56C4C5;
}

footer {
  background-color: #F5F5F5;
  text-align: center;
  padding: 16px;
}

@media (max-width: 375px) {
  .container {
    max-width: 100%;
    background-image: none;
  }

  .index {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: 50% 85%;
  }
  .index navbar {
    padding: 10px;
    border-bottom: 2px solid #FFD153;
  }
  .index navbar img {
    width: 160px;
  }
  .index navbar button {
    padding: 10px;
  }
  .index .firstPage {
    padding: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .index .firstPage img {
    width: 100%;
  }
  .index .firstPageCont h1 {
    font-size: 36px;
  }
  .index .firstPageCont h4 {
    font-size: 19px;
  }
  .index .topBtn {
    right: 10px;
  }

  .snsContents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .snsContents .snsContent {
    margin-top: 40px;
  }

  .roles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .roles .roleContent {
    margin-top: 20px;
  }

  .imfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imfo .imfo_function {
    width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .imfo .functionCont {
    margin-top: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .imfo .imfoText {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
  }

  .comment .commentCont {
    margin: 50px 0 50px 0;
  }
  .comment .allComment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bottomImg {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/footer_sm.svg");
  }
  .bottomImg h2 {
    font-size: 28px;
  }
  .bottomImg a {
    display: block;
  }
  .bottomImg a:hover {
    cursor: pointer;
  }
}