/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.longBtn {
  font-size: 18px;
  padding: 12px 32px;
  border-radius: 27px;
  color: #56C4C5;
  border-color: #56C4C5;
}

.txtColor {
  color: #56C4C5;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1366px;
  line-height: 1.5;
  font-weight: bold;
}

.index {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/banner.svg");
  background-repeat: no-repeat;
  background-position: right;
  right: 0;
  bottom: 0;
}
.index nabar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 100px;
}
.index nabar img {
  height: 40px;
}
.index nabar button {
  color: white;
  border: 1px solid #FF5D50;
  background-color: #FF5D50;
  border-radius: 22px;
  padding: 8px 30px;
}
.index .firstPage {
  padding: 180px 100px;
}
.index .topBtn {
  position: absolute;
  right: 92px;
  bottom: -23px;
}
.index .topBtn img {
  height: 71px;
  width: 71px;
  border-radius: 50%;
}
.index .topBtn p {
  color: white;
  position: absolute;
  line-height: 71px;
  top: 0;
  left: 20px;
}

.ball {
  position: absolute;
  width: 94px;
  height: 361px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  left: 0;
  top: 317px;
}

.program {
  text-align: center;
  margin-top: 100px;
  position: relative;
}
.program .person {
  margin: 48px 54px;
}
.program .person button {
  margin: 0 16px;
}
.program .person button:nth-of-type(1) {
  background-color: #56C4C5;
  border: #56C4C5;
  color: white;
}
.program .programContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.program .programService {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  margin: 0 21px;
  padding: 32px 29px;
}
.program .donatePrice {
  font-size: 29px;
}
.program .donatePrice .donatePriceBtn {
  padding: 24px 32px;
  margin: 32px 0;
  border-radius: 12px;
  border-color: #F5F5F5;
}
.program .donatePrice P {
  font-size: 12px;
}
.program .donatePrice span {
  font-size: 12px;
  color: black;
}
.program li {
  text-align: start;
  margin: 16px;
  font-size: 16px;
}
.program li::before {
  content: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon_check.svg");
}

.qa {
  margin-top: 100px;
  text-align: center;
  padding: 0 231px;
}
.qa h2 {
  margin-bottom: 48px;
}
.qa .question {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}
.qa .questionAns {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  padding: 16px 32px;
  text-align: start;
}
.qa .questionAns p:nth-of-type(2) {
  margin-top: 24px;
  color: #747474;
}
.qa .questionAns img {
  float: right;
}

footer {
  margin-top: 100px;
  text-align: center;
  padding: 16px;
  background-color: #F5F5F5;
}

@media (max-width: 375px) {
  .container {
    max-width: 100%;
  }

  .index {
    background-size: cover;
    width: 100%;
  }
  .index nabar {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid black;
  }
  .index nabar img {
    margin: 0%;
  }
  .index nabar button {
    padding: 10px;
  }
  .index .firstPage {
    padding-left: 10px;
  }
  .index h1 {
    font-size: 32px;
  }
  .index .topBtn {
    right: 0;
    bottom: -80px;
  }

  .programContent {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .programContent .donatePriceBtn {
    width: 40%;
    padding: 0 10px;
    margin: 10px;
  }
  .programContent h2 {
    font-size: 20px;
  }
  .programContent .programService {
    padding: 20px 0;
  }

  .qa {
    padding: 0;
    width: 100%;
  }

  .qaContent {
    width: 100%;
    padding: 0;
  }
}