@import "reset";
// 變數
$text-SMsize: 20px;
$text-MDsize: 24px;
$text-LGsize: 32px;
$text-color: #56C4C5;
$text-weight: bold;

// start
.container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 140px;
    width: 1366px;
    outline: 1px solid black;
    line-height: 1.2;
    font-weight: $text-weight;
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg');
    background-repeat: no-repeat;
    background-position: right top;
}

.index {
    position: relative;
    outline: 1px solid black;

    // nabar
    nabar {
        img {
            padding: 24px 0 24px 0;
            width: 215px;
            height: 40px;
        }

        button {
            color: white;
            border: 1px solid #FF5D50;
            background-color: #FF5D50;
            border-radius: 22px;
            float: right;
            margin: 24px 0 24px 0;
            padding: 8px 30px;
        }
    }

    // firstPage
    .firstPage {
        padding: 30px 0 117px 0;
        display: flex;
        justify-content: space-between;

        // outline: 1px solid black;
        .firstPageCont {
            padding: auto 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                color: $text-color;
                font-size: 18px;
            }

            h1 {
                font-size: 48px;
            }

            h3 {
                font-size: $text-SMsize;
            }
        }

        img {
            width: 532px;
            height: 534px;
        }
    }

    // topbtn
    .topBtn {
        position: absolute;
        right: -92px;
        bottom: 23px;

        img {
            height: 71px;
            width: 71px;
            border-radius: 50%;
        }

        p {
            color: white;
            position: absolute;
            line-height: 71px;
            top: 0;
            left: 20px;
        }
    }
}

.sns {
    margin-top: 100px;
    text-align: center;

    h2 {
        font-size: $text-LGsize;
    }

    .snsContents {
        padding-top: 48px;
        display: flex;
        justify-content: space-around;
    }

    .snsContent {
        width: 244px;

        img {
            width: 90px;
            height: 90px;
        }

        h3 {
            font-size: $text-MDsize;
            margin: 24px 0;
        }

        p {
            color: #747474;
        }
    }
}

.role {
    margin-top: 100px;
    text-align: center;

    .roles {
        display: flex;
        justify-content: center;
    }

    .roleContent {
        width: 260px;
        border: 1px solid #00000014;
        border-radius: 20px;
        box-shadow: 0px 2px 10px #00000014;
        margin-right: 16px;
    }

    h2 {
        font-size: $text-LGsize;
    }

    h3 {
        font-size: 20px;
        margin: 16px 0 48px 0;
    }

    p:nth-of-type(1) {
        padding: 16px 0;
        color: $text-color;
    }

    p:nth-of-type(2) {
        padding: 0 16px 24px 16px;
    }
}

.imfo {
    margin-top: 100px;

    .function {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
    }

    .functionCont {
        width: 230px;
        outline: 1px solid black;
        padding: 32px 0 48px 32px;
        border: 1px solid #00000014;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 20px;
        margin: 0 47px 28px 0;
        .circle {
            width: 86px;
            height: 86px;
            z-index: 0;
            border-radius: 50%;
            border: 1px solid #00000014;
            box-shadow: 0px 2px 10px #00000014;
            position: relative;
        }
        img {
            position: absolute;
            z-index: 999;
            left: 20px;
            top: 19px;    
        }

        h3 {
            margin: 24px 0 16px;
            font-size: 18px;
        }
    }
}